# Compiled files
*.class
target/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
mvnw
mvnw.cmd

# Test output
test-output/

# Local configuration
application-local.properties